---
import Layout from '@layouts/Page.astro'
import NoteSummary from '@components/NoteSummary.astro'
import For from '@components/For.astro'
import Hero from '@components/Hero.astro'
import { type Note, fetchNotes } from '@data/notes.js'

const title = 'Notes'
const description =
  'Tony Sullivan is a fullstack developer based in Onbekend, USA.'

const notes = await fetchNotes()
---

<Layout title={title} description={description}>
  <Hero
    title="Hello, open web."
    cta={{ text: 'Hello, my name is Tony', href: '/about/' }}
  >
    These are my notes, good or bad I wrote them. Why let them live in a walled
    garden? They are also syndicated to my <a
      href="https://twitter.com/tony-sull">Twitter</a
    > account and an <a href="/notes/feed.xml">RSS feed</a> if that's your thing!
  </Hero>

  <ul>
    <For each={notes}>
      {(note: Note) => <NoteSummary {...note} />}
    </For>
  </ul>
</Layout>
