---
import { getCollection } from 'astro:content'
import PhotoCard from '~/components/PhotoCard.astro'
import Layout from '~/layouts/Page.astro'
import { sortByDate } from '~/utils/sortByDate'

const photos = await getCollection('photos')
---

<Layout title="Notes">
  <ul>
    {photos.sort(sortByDate).map((photo) => (
      <li>
            <PhotoCard {...photo} />
          </li>
    ))}
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-3);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  li {
    width: 100%;
    padding: 0;
  }
</style>
