---
import { getCollection } from 'astro:content'
import ArticleCard from '~/components/ArticleCard.astro'
import BookmarkCard from '~/components/BookmarkCard.astro'
import NoteCard from '~/components/NoteCard.astro'
import Profile from '~/components/Profile.astro'
import Layout from '~/layouts/Page.astro'
import { sortByDate } from '~/utils/sortByDate'

const articles = await getCollection('articles')
const bookmarks = await getCollection('bookmarks')
const notes = await getCollection('notes')
const photos = await getCollection('photos')

const entries = [...articles, ...bookmarks, ...notes, ...photos].sort(
  sortByDate
)
---

<Layout>
  <Profile class="profile" />

  <ul>
    {
      entries.map(entry => (
        <li>
          {entry.collection === 'articles' && <ArticleCard {...entry} />}
          {entry.collection === 'bookmarks' && <BookmarkCard {...entry} />}
          {entry.collection === 'notes' && <NoteCard {...entry} />}
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  :global(main) {
    --container-width: var(--size-content-2);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-3);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  li {
    width: 100%;
    padding: 0;
  }

  @media (min-width: 80ch) {
    .profile {
      grid-column: 1;
      justify-self: end;
      max-width: var(--size-content-1);
    }
  }
</style>
