---
import Layout from '../layouts/Page.astro'
---

<Layout>
	<h1>Hello, world</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="#">minim
		veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
		esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
		cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
		est laborum.
	</p>

	<h2>
		nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet
		porttitor
	</h2>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ullamcorper dignissim
		cras tincidunt lobortis feugiat vivamus. Dui sapien eget mi proin sed
		libero. Posuere urna nec tincidunt praesent semper. Suscipit tellus mauris a
		diam. Sed faucibus turpis in eu mi bibendum neque egestas congue. Posuere ac
		ut consequat semper viverra nam. Quis lectus nulla at volutpat diam ut
		venenatis. Neque egestas congue quisque egestas diam. Libero enim sed
		faucibus turpis in eu mi bibendum. Maecenas volutpat blandit aliquam etiam
		erat. Quis viverra nibh cras pulvinar. Tortor dignissim convallis aenean et
		tortor at risus viverra adipiscing. Congue eu consequat ac felis donec et.
		Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Ac turpis
		egestas maecenas pharetra convallis posuere morbi leo. Semper risus in
		hendrerit gravida rutrum quisque.
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="#">minim
		veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
		esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
		cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
		est laborum.
	</p>

	<h3>
		mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus
	</h3>
</Layout>
