---
import { getCollection } from 'astro:content'
import EntryList from '../components/EntryList.astro'
import Layout from '../layouts/Page.astro'
import { sortByDate } from '../utils/sortByDate'

const entries = await Promise.all([
	getCollection('articles'),
	getCollection('bookmarks'),
	getCollection('notes'),
	getCollection('photos'),
]).then(res => res.flat().sort(sortByDate))
---

<Layout>
	<h1>Latest posts</h1>

	<EntryList {entries} />
</Layout>
