---
import { getCollection } from 'astro:content'
import BookmarkCard from '~/components/BookmarkCard.astro'
import Layout from '~/layouts/Page.astro'
import { sortByDate } from '~/utils/sortByDate'

const bookmarks = await getCollection('bookmarks')
---

<Layout title="Bookmarks">
  <ul>
    {
      bookmarks.sort(sortByDate).map(bookmark => (
        <li>
          <BookmarkCard {...bookmark} />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-3);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  li {
    width: 100%;
    padding: 0;
  }
</style>
