---
import Layout from '@layouts/Page.astro'
import NoteCard from '@components/NoteCard.astro'
import For from '@components/For.astro'
import Hero from '@components/Hero.astro'
import { type Note, fetchNotes } from '@data/notes.js'

export async function getStaticPaths() {
  const allNotes = await fetchNotes()

  const tagsMap = allNotes.reduce((acc, next) => {
    next.tags.forEach(tag => {
      const list = acc.get(tag) || []
      acc.set(tag, list.concat(next.slug))
    })

    return acc
  }, new Map<string, string[]>())

  return Array.from(tagsMap.entries()).map(([key, value]) => ({
    params: { tag: key },
    props: { slugs: value },
  }))
}

const { tag } = Astro.params as { tag: string }
const { slugs } = Astro.props as { slugs: string[] }

const title = `#${tag} | Notes`
const description =
  'Tony Sullivan is a fullstack developer based in Onbekend, USA.'

const notes = (await fetchNotes()).filter(({ slug }) => slugs.includes(slug))
---

<Layout title={title} description={description}>
  <Hero
    title="Hello, open web."
    cta={{ text: 'Hello, my name is Tony', href: '/about/' }}
  >
    These are my notes, good or bad I wrote them. Why let them live in a walled
    garden? They are also syndicated to my <a
      href="https://twitter.com/tony-sull">Twitter</a
    > account and an <a href="/notes/feed.xml">RSS feed</a> if that's your thing!
  </Hero>

  <ul>
    <For each={notes}>
      {(note: Note) => <NoteCard {...note} />}
    </For>
  </ul>
</Layout>
