---
import { Image } from 'astro:assets'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

export type Props = HTMLAttributes<'div'> & {
  author: CollectionEntry<'personas'>['data']
}

const { author, class: className, ...attrs } = Astro.props

function getHandleName(author: CollectionEntry<'personas'>['data']) {
  return author.nickname.slice(0, author.nickname.indexOf('@'))
}

function getHandleDomain(author: CollectionEntry<'personas'>['data']) {
  const start = author.nickname.indexOf('@')
  const end = author.nickname.lastIndexOf('.')

  return author.nickname.slice(
    start + 1,
    end >= 0 ? end : author.nickname.length
  )
}
---

<div class:list={[className, 'h-card']} {...attrs}>
  <Image
    src={author.logo.photo}
    alt={author.logo.name || ""}
    width={96}
    height={96}
    format="webp"
    class="u-logo"
  />
  <p class="p-name sr-only">{author.name}</p>
  <p class="p-nickname">
    <b>{getHandleName(author)}</b>
    <span>@</span>
    <i>{getHandleDomain(author)}</i>
    <span
      >{
        author.nickname.slice(author.nickname.lastIndexOf('.'))
      }</span
    >
  </p>
</div>

<style>
  .h-card {
    display: flex;
    align-items: center;
    gap: var(--size-fluid-1);
  }

  .p-nickname {
    gap: var(--size-1);
  }

  .p-nickname > span:last-of-type {
    display: none;
  }

  .u-logo {
    width: var(--size-8);
    height: var(--size-8);
    object-fit: cover;
    border-radius: var(--radius-round);
  }
</style>
