---
import { Image } from 'astro:assets'
import type { HTMLAttributes } from 'astro/types'
import { CollectionEntry, getEntryBySlug } from 'astro:content'
import { resolvePhoto } from '~/utils/assets.js'

export type Props = HTMLAttributes<'div'> & {
  author?: string | undefined
}

const { author, class: className, ...attrs } = Astro.props

function getHandleName(author: CollectionEntry<'personas'>) {
  return author.data.nickname.slice(0, author.data.nickname.indexOf('@'))
}

function getHandleDomain(author: CollectionEntry<'personas'>) {
  const start = author.data.nickname.indexOf('@')
  const end = author.data.nickname.lastIndexOf('.')

  return author.data.nickname.slice(
    start + 1,
    end >= 0 ? end : author.data.nickname.length
  )
}

const persona =
  (author && (await getEntryBySlug('personas', author))) ||
  (await getEntryBySlug('personas', 'tony'))

const avatar = persona.data.logo!.photo
---

<div class:list={[className, 'h-card']} {...attrs}>
  <Image
    src={avatar}
    alt={persona.data.logo.name || ""}
    width={96}
    height={96}
    format="webp"
    class="u-logo"
  />
  <p class="p-name sr-only">{persona.data.name}</p>
  <p class="p-nickname">
    <b>{getHandleName(persona)}</b>
    <span>@</span>
    <i>{getHandleDomain(persona)}</i>
    <span
      >{
        persona.data.nickname.slice(persona.data.nickname.lastIndexOf('.'))
      }</span
    >
  </p>
</div>

<style>
  .h-card {
    display: flex;
    align-items: center;
    gap: var(--size-fluid-1);
  }

  .p-nickname {
    gap: var(--size-1);
  }

  .p-nickname > span:last-of-type {
    display: none;
  }

  .u-logo {
    width: var(--size-8);
    height: var(--size-8);
    object-fit: cover;
    border-radius: var(--radius-round);
  }
</style>
