---
import { Image } from 'astro:assets'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

export type Props = HTMLAttributes<'div'> & {
  author: CollectionEntry<'personas'>
}

const { author, class: className, ...attrs } = Astro.props

const [handleName, handleDomain] = author.data.nickname.split('@')
---

<div class:list={[className, 'h-card']} {...attrs}>
  <Image
    src={author.data.logo}
    alt=""
    width={48}
    height={48}
    format="webp"
    class="u-logo"
  />
  <p class="p-name sr-only">{author.data.name}</p>
  <p class="p-nickname">
    <b>{handleName}</b>
    {!!handleDomain && (
      <span>@</span>
      <i>{handleDomain.slice(0, handleDomain.lastIndexOf('.'))}</i>
      <span>{handleDomain.slice(handleDomain.lastIndexOf('.'))}</span>
    )}
  </p>
</div>

<style>
  .h-card {
    display: flex;
    align-items: center;
    gap: var(--size-fluid-1);
  }

  .p-nickname {
    gap: var(--size-1);
  }

  .p-nickname > span:last-of-type {
    display: none;
  }

  .u-logo {
    border-radius: var(--radius-round);
  }
</style>
