---
import { Icon } from 'astro-icon'
import site from '~/data/site'
import ThemeToggle from './ThemeToggle.astro'

export type Link = {
  href: string
  text: string
}
---

<header class="container">
  <div>
    <a href="/" title="Home">
      <Icon name="logo" size={48} aria-hidden="true" />
      <h1>{site.title}</h1>
    </a>

    <ThemeToggle />
  </div>
</header>

<style>
  header {
    --container-width: 100%;
    --link: var(--text-1);
    --link-visited: var(--text-1);
    padding-block: var(--size-fluid-2);
  }

  a {
    --icon-bg: var(--blue-7);
    --icon-fg: var(--gray-0);
    display: flex;
    align-items: center;
    gap: var(--size-fluid-2);
  }

  h1 {
    font-size: var(--font-size-fluid-1);
  }

  :global([data-theme='dark']) a {
    --icon-bg: var(--blue-4);
    --icon-fg: var(--gray-9);
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-fluid-2);
  }
</style>
