---
import Picture from './Picture.astro'
import type { Props as PictureProps } from './Picture.astro'

export type Props = Omit<PictureProps, 'src' | 'slot'> & {
  src: ImageMetadata
  caption?: string
  zoomIn?: boolean
}

const { src, zoomIn = false, caption, ...attrs } = Astro.props
---

<figure>
  {
    zoomIn ? (
      <a href={src.src} target="_blank">
        <Picture src={src} {...attrs} />
      </a>
    ) : (
      <Picture src={src} {...attrs} />
    )
  }
  {!!caption && <figcaption>{caption}</figcaption>}
</figure>

<style>
  a:hover,
  a:focus-within {
    cursor: zoom-in;
  }
</style>
