---
import { Icon } from 'astro-icon'

export type Props = {
  url: string
  alt: string
}

const { url, alt } = Astro.props
---

<share-link href={url} role="button">
  <p class="sr-only">{alt}</p>
  <Icon name="share" size={20} />
</share-link>

<style>
  share-link {
    cursor: pointer;
  }
</style>

<script>
  class ShareLink extends HTMLElement {
    connectedCallback() {
      this.addEventListener('click', this.share.bind(this), false)
    }

    get href() {
      return this.getAttribute('href')!
    }

    async share() {
      ;(window as any).fathom.trackGoal(
        import.meta.env.PUBLIC_FATHOM_EVENT_SHARE,
        0
      )
      await navigator.clipboard.writeText(this.href)
    }
  }

  customElements.define('share-link', ShareLink)
</script>
