---
import { Tweet } from '@astro-community/astro-embed-twitter'

export type Props = {
  id: string
}

const { id } = Astro.props
---

<div>
  <Tweet id={id} />
</div>

<style>
  div :global(.tweet-card) {
    background: red;
    font-family: sans-serif;
    border: 0;
  }

  .tweet-card a {
    color: purple;
    font-weight: bold;
  }

  .tweet-author-name {
    font-family: cursive;
    font-size: 1.5em;
  }
</style>
