---
import Head, { type Props as HeadProps } from '@components/Head.astro'
import '@assets/global.css'
import 'open-props/style'
import 'open-props/normalize'
import 'open-props/buttons'

export type Props = HeadProps

const { ...head } = Astro.props
---

<html lang="en">
  <head>
    <Head {...head} />
  </head>

  <body>
    <main id="main" class="container">
      <slot />
    </main>
  </body>
</html>
