---
import Head, { type Props as HeadProps } from '@components/Head.astro'
import Header from '@components/Header.astro'
import '@assets/global.css'
import Footer from '@components/Footer.astro'

export type Props = HeadProps

const { ...head } = Astro.props
---

<html lang="en" data-theme="light">
  <head>
    <Head {...head} />
  </head>

  <body>
    <Header />

    <main id="main" class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    margin-block: var(--size-fluid-4);
  }
</style>