---
import Head, { type Props as HeadProps } from '../components/Head.astro'
import MaxWidth from '../components/MaxWidth.astro'
import Prose from '../components/Prose.astro'
import '../styles/reset.css'
import '../styles/theme.css'

export type Props = HeadProps

const { ...head } = Astro.props
---

<html lang="en" data-theme="light">
	<head>
		<Head {...head} />
	</head>

	<body>
		<MaxWidth as="main" id="main">
			<Prose>
				<slot />
			</Prose>
		</MaxWidth>
	</body>
</html>
